name: Golang build and test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.x'
      - name: Install dependencies
        run: go get .
      - name: Build
        run: make build
      - name: Test
        run: make test
      - name: Coverage
        run: make cover
      # - name: Test with Go
      #   run: go test -json > TestResults.json
      # - name: Upload Go test results
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: Go-results
      #     path: TestResults.json